* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #6d8aff;
  padding: 30px;
}
.logo h1 {
  color: #fff;
  opacity: 87%;
}
ul {
  display: flex;
  gap: 30px;
}
ul li {
  list-style: none;
  color: #fff;
  opacity: 87%;
  font-size: large;
}
.login a {
  text-decoration: none;
  background-color: white;
  padding: 5px;
  color: red;
  border-radius: 5px;
}
.text-img {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
.hero-text {
  font-size: 20px;
  margin: 30px;
}
.text-img p {
  font-size: 20px;
}
.btn {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: #1e07c1;
  border-radius: 10px;
  color: #fff;
  padding: 5px;
  font-size: 20px;
}
.btn:hover {
  background-color: red;
  color: #1e07c1;
  cursor: pointer;
}
.man-img {
  width: 600px;
}
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #1e07c1;
  display: flex;
  padding-top: 65px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.top-t h3 {
  color: #fff;
  width: 270px;
  margin-bottom: 20px;
  font-size: 40px;
  padding-left: 20px;
}
.top-t p {
  color: #fff;
  padding-left: 20px;
  padding-bottom: 20px;
  opacity: 90%;
}
.bottom {
  width: 540px;
  align-items: center;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding-top: 55px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
form {
  margin-left: 15%;
  margin-right: 15%;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #f3f4f6;
}
form h2 {
  text-align: center;
  color: #6d8aff;
  padding-bottom: 15px;
}
input {
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 250px;
  
}
.btn-log {
  width: 250px;
  border: none;
  background-color: #1e07c1;
  border-radius: 50px;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}
.btn-log a {
  color: red;
  text-decoration: none;
  font-size: 25px;
}
form p b {
  color: #1e07c1;
  opacity: 87%;
}
form p {
  opacity: 80%;
}
.container2 {
  display: flex;
  justify-content: space-between;
  margin: 35px;
}
.con2-top {
  width: 500px;
  height: 300px;
  background-image: url(images/woman.jpg);
  background-size: cover;
}
.con2-top p {
  padding: 20px;
  color: white;
  font-size: 20px;
}
.con2-down {
  width: 500px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.con2-down h3 {
  font-size: 40px;
  padding: 15px;
  color: red;
  text-decoration: underline;
}
.con2-down p {
  font-size: 20px;
}
.container3 {
  display: flex;
  justify-content: space-evenly;
  margin: 28px;
  
}
.p-savings {
  background-image: url(images/personal.jpg);
  background-size: cover;
}
.b-savings {
  background-image: url(images/business.jpg);
  background-size: cover;
}
.e-savings {
  background-image: url(images/emergency.jpg);
  background-size: cover;
}
.p-savings, .b-savings, .e-savings {
  width: 600px;
  height: 300px;
  padding: 30px;
  margin: 15px;
  
}
.p-savings h4, .b-savings h4, .e-savings h4 {
  color: white;
  font-size:  40px;
}
.p-savings p, .b-savings p, .e-savings p {
  color: white;
  font-size:  20px;
}
.container4 {
  margin: 40px;
}
.container4 h3{
  text-align: center;
  margin-top: 30px;
  padding: 25px;
  font-size: 40px;
}
.con4-cont {
  display: flex;
}
.con4-cont-down {
  padding-left: 25px;
}
.con4-cont-down h4 {
  font-size: 25px;
  padding: 15px;
}
.con4-cont-down p {
  font-size: 20px;
  padding-bottom: 25px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  padding: 30px;
  
}
.footer  h3 {
  color: white;
  padding: 25px;
}
.f-list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.f-list ul li  a{
  text-decoration: none;
  color: white;
}
